[flake8]
max-line-length = 119

# E302,E305: "expected 2 blank lines"
# W504: "Line break occurred after a binary operator"
ignore = E302,E305,W504

exclude =
    src/coolname/__init__.py,
    src/coolname/data/__init__.py,
    tests/*
