*.py[cod]

# C extensions
*.so

# Packages
.eggs/
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
nosetests.xml
htmlcov

# Translations
*.mo

# PyCharm
.idea/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# pyenv
.python-version

# Sphinx
docs/_build

# Dynamically generated code
src/coolname/_version.py
src/coolname/data/__init__.py
