include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include src/coolname/data/*.json
include src/coolname/data/*.txt
include *.rst

exclude MANIFEST.in
exclude .*
exclude tox.ini
exclude mypy.ini
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude requirements *
recursive-exclude docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude .* *
