include AUTHORS
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include coolname/data/*.json
include coolname/data/*.txt

recursive-include tests *
recursive-include examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
